{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'hello/css/style.css' %}"
    />
  </head>
  <body>
    <h1>{{title}}</h1>
    <table>
        <tr>
            <th>name</th>
            <th>id</th>
            <th>mail</th>
            <th>age</th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.id}}</td>
            <td>{{item.mail}}</td>
            <td>{{item.age}}</td>
        <tr>
    {% endfor %}
    </table>
</body>
</html>
